body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #e6f7ff; /* Light blue background */
}

h1 {
    text-align: center;
    color: #005073; /* Darker shade of blue */
}

h2 {
    text-align: center;
}

table {
    width: 90%;
    border-collapse: collapse;
    margin: 20px auto;
    border: 1px solid #ddd;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

table, th, td {
    border: 1px solid #ddd;
    padding: 8px;
}

th {
    background-color: #f4f4f4;
}

td {
    text-align: center;
}

img {
    display: block;
    margin: 20px auto;
}

footer {
    text-align: center;
    margin: 20px 0;
    padding: 10px;
    background-color: #f4f4f4;
}

footer p {
    margin: 0;
}

footer a {
    text-decoration: none;
    color: #0073b1; /* LinkedIn blue */
}

footer a:hover {
    text-decoration: underline;
}

.button-container {
    text-align: center;
    margin: 20px 0;
}

button {
    padding: 10px 20px;
    margin: 0 10px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

.fade-in {
    animation: fadeIn 2s ease-in;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
